@model IEnumerable<Mpho.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ass_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Bra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition.Cond_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ass_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Bra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition.Cond_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ass_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ass_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ass_Id })
        </td>
    </tr>
}

</table>
